
html { font-size: 16px; }

/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }


body{
	margin:0;
	font-family: Helvetica, Arial, sans-serif;
	color:#333;
	font-weight: 300;
	min-width: 380px;
}
b, strong{
	font-weight: bold;
}
/* colors */

a{ color: hsl(240,80%,70%); }
a:hover{ color: hsl(240,80%,80%); }

.letter{
	-webkit-text-stroke: 0.5px black;
}
.letterBig{
	-webkit-text-stroke: 1px black;
}

#sandbox-section,
#sandbox-index-section,
#sandbox-embed-section,
.banner,
.sim-ballot,
.sim-test {
	/* background: #EFE9D5; */
	/* background-color: #e6e6e6; */
	/* background-color: #bed7dbd2; */
	background-color: #dfebec;
}

#content{
	font-size: 20px;
}
.words{
	max-width: 900px;
	margin: 0 auto;
	padding: 0px 20px;
}
.words-original{
	width: 670px;
	margin: 0 auto;
}

.video-container {
    overflow: hidden;
    position: relative;
    width:90%;
	border: 10px solid black;
	border-top-width: 0px;
	border-bottom-width: 4px;
	border-left-width: 7px;
	border-right-width: 12px;
	margin: auto;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#content p{
	text-align: left;
	line-height: 1.5em;
	color: #333;
}
#content p.caption{
	line-height: 1.5em;
	text-align: center;
}
#content p img{
	height: 1em;
	position: relative;
	top:3px;
}
#content p img.real{
	margin: 0 auto;
	display: block;
	height: auto;
}

.words > img { 
    display: block;
	margin: 0 auto;
}

#content p .underline{
	text-decoration: underline;
}
iframe{
	border:none;
	display: block;
	margin: 0px auto 25px auto;
}
hr{
	border: none;
	border-bottom: 5px dashed #ccc;
	margin: 50px 0;
}
li{
	margin-top: 0.4em;
}
#content .ballot_title{
	text-align: left;
	max-width: 540px;
	font-size: 1.35em;
	margin-bottom: 0.4em;
	position: relative;
	left:0px;
	padding: 0px 20px;
	padding-top: 20px;
}
#content p.ballot_caption{
	margin-top: 0;
    font-size: 0.8em;
    text-align: left;
	max-width: 540px;
    line-height: 1.2em;
	padding: 0px 20px;
	padding-bottom: 20px;
}
#content p.caption-test{
	font-weight: bold;
    font-size: 1.2em;
    line-height: 1.4em;
}
.sim-container{
	margin:auto;
}
.sim-intro, .sim-ballot, .sim-test, .sim-sandbox{
	display: flex;
	text-align:center;
	padding: 0px 20px;
}
.sim-ballot{
	margin: 35px -20px 50px -20px;
}
.sim-test{
	margin: 50px -20px 40px -20px;
}
.contain-model{
	position: relative;
	margin: 0px auto 25px auto;
	text-align: center;
}
#content {
	/* padding: 0px 20px; */
}
#content p.quote{
	border-radius: 5px;
	background: #eee;
	padding: 20px;
	color: #888;
	font-size: 1.2em;
	text-align: center;
}
#content p.quote em{
	color: #000;
	font-weight: bolder;
}

.banner{
	font-size: 22px;
	color: #222;
	border-bottom: 5px solid rgba(0,0,0,0.2);
	text-align: center;
	padding: 10px;
	margin-bottom: 30px;
}

.banner h1,
.banner p{
	margin: .3em 0em;
}
.banner p{
	font-size: .7em;
}
/* .banner p{
	font-size: .7em;
	margin: .3em 0em;
}
.banner h1{
	margin: .3em 0em;
    font-weight: bold;
	text-shadow: 0px 0px 3px #555;
	text-transform: uppercase;
}
@supports (-webkit-text-stroke: 2px #555) {
    .banner h1 {
      -webkit-text-stroke: 2px #555;
      -webkit-text-fill-color: white;
    }
  } */


#splash{
	position: relative;
	overflow: hidden;
	margin-top: 0;
	height: 200px;
}
#splash img{
	position: absolute;
	width: 960px;
	/* height: 200px; */
	margin: auto;
	top:0; left:0; right:0; bottom:0;
	pointer-events: none;
}
#sandbox-section{
	margin-top: 50px;
}
#sandbox-section,
#sandbox-index-section{
	overflow:hidden;
	border-bottom: 5px solid rgba(0,0,0,0.2);
}
#sandbox-section,
#sandbox-index-section,
#sandbox-embed-section{
	padding: 30px 0;
}
.sim-sandbox .div-sandbox{
	/* background:#fff; */
	/* border:20px solid #fff; */
}
#end{
	font-size: 18px;
	line-height: 1.5em;
	background: #222;
	padding: 30px 0;	
	overflow: hidden;
}

/** THE END **/
#end p{
	color: #999;
}
#end h1, #end h2, #end p b, #end p strong{
	color: #fff;
}
#end h1, #end h2{
	text-align: center;
}
#end a{
	font-weight: bold;
    color: #cc2727;
}
#end a:hover {
	color: #dd3838;
}	
#credits{
	width: 960px;
	margin: 25px auto 50px auto;
	text-align: justify;
}
#uncopyright{
	width:100%;
	height:180px;
	margin-bottom: 40px;
}
#appendix_container{
	width: 100%;
	overflow: hidden;
	padding-top: 2px;
}
.appendix_title{
	color:#fff;
	font-size: 24px;
	font-weight: bold;
}
#further_reading{
	width:600px;
	float:left;
	color: #888;
}
.further_book{
	font-size:18px;
	overflow:hidden;
}
.further_book img{
	width:100px;
	float:left;
	margin-right:20px;
}
#supporters{
	line-height: 1.2em;
	width:320px;
	float:right;
	font-size:16px;
	color:#888;
}
#supporter_drawings{
	overflow: hidden;
	margin-top: 20px; 
	text-align: center;
}
#supporter_drawings > div{
	display: inline-block;
	width:100px;
	height:140px;	
	margin-bottom: 15px;
	text-align: center;
	position: relative;
}
#supporter_drawings > div > img{
	position: absolute;
	width:100px;
	height:100px;
	left:0px;
	top:0px;
}
#supporter_drawings > div > div{
	position: absolute;
	width: 80px;
	height: 37px;
	left:10px;
	top:103px;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 50px;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


/* for "newer.html" An Even Better Ballot */
.banner .notation {
	/* font-size: 30px; */
	color: rgb(255, 0, 0);
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner .strike {
	text-decoration:line-through;
}
/* end */

/* card stuff  */

/** CONTENT **/
#content div.card {
	display: inline-block;
	vertical-align: top;
}

#content div.card > a > div{

	display: inline-block;
    overflow: hidden;
	width: 290px;
	margin-bottom:20px;
	/*float: left;*/

	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;

}
#content div.card > a:first-child > div{
	margin-top:20px;
}
#content div.card > a{
	text-decoration: none;
	display: inline-block;
}
#content div.card > a:hover > div{
	opacity: 0.5;
}
#content div.card > a > div > img{
	width: 288px;
	border: 1px solid #eee;
	margin-bottom: 5px; 
}
#content div.card > a > div > div{

	color:#000;
	font-size: 18px;
	line-height: 21px;
	text-align: left;

	width:100%;

}

#content div.card > a > div > div > span{
	color:#aaa;
}


/* end card stuff */

#content div.picture-container {
	text-align: center;
}

#content img.picture {
	display: inline-block;
	width: 290px;
	height: unset;
	vertical-align: top;
}
#content img.picture100 {
	display: inline-block;
	width: 100%;
	height: unset;
	vertical-align: top;
}