
/* from minima style */

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

hr { margin-top: 30px; margin-bottom: 30px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Links */
a { color: #2a7ae2; text-decoration: none; }
a:visited { color: #1756a9; }
a:hover { color: #111111; text-decoration: underline; }
.social-media-list a:hover, .pagination a:hover { text-decoration: none; }
.social-media-list a:hover .username, .pagination a:hover .username { text-decoration: underline; }

/** Wrapper */
.wrapper { padding-right: 15px; padding-left: 15px; }
@media screen and (min-width: 800px) { .wrapper {  padding-right: 30px; padding-left: 30px; } }

/** Clearfix */
.wrapper:after { content: ""; display: table; clear: both; }

/** Icons */
.orange { color: #f66a0a; }

.grey { color: #828282; }

.svg-icon { width: 16px; height: 16px; display: inline-block; fill: currentColor; padding: 5px 3px 2px 5px; vertical-align: text-bottom; }


/** Site header */
.site-header, .site-footer { --text-1: white; --text-2: grey; --back:#222;}
.site-header { background-color: var(--back); color: var(--text-1);}

.site-header { border-top: 5px solid var(--text-1); border-bottom: 1px solid #e8e8e8; min-height: 55.95px; line-height: 1.2; position: relative; }

.site-title { font-size: 1.625rem; font-weight: 300; letter-spacing: -1px; margin-bottom: 0; float: left; }
@media screen and (max-width: 600px) { .site-title { padding-right: 45px; } }
.site-title, .site-title:visited { color: var(--text-1); }

.site-nav { position: absolute; top: 9px; right: 15px; background-color: var(--back); border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; }
.site-nav .nav-trigger { display: none; }
.site-nav .menu-icon { float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }
.site-nav .menu-icon > svg path { fill: var(--text-1); }
.site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; }
.site-nav input ~ .trigger { clear: both; display: none; }
.site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; }
.site-nav .page-link { color: var(--text-2); line-height: 1.2; display: block; padding: 5px 10px; margin-left: 20px; }
.site-nav .page-link:not(:last-child) { margin-right: 0; }
.site-nav .current {color: white; }
@media screen and (min-width: 600px) { .site-nav { position: static; float: right; border: none; background-color: inherit; }
  .site-nav label[for="nav-trigger"] { display: none; }
  .site-nav .menu-icon { display: none; }
  .site-nav input ~ .trigger { display: block; }
  .site-nav .page-link { display: inline; padding: 0; margin-left: auto; }
  .site-nav .page-link:not(:last-child) { margin-right: 20px; } }


/** Site footer */
.site-footer { background-color: var(--back); color: var(--text-1);}
.site-footer { border-top: 1px solid #e8e8e8; padding: 30px 0; }

.footer-heading { font-size: 1.125rem; margin-bottom: 15px; }

.feed-subscribe .svg-icon { padding: 5px 5px 2px 0; }

.contact-list, .social-media-list, .pagination { list-style: none; margin-left: 0; }

.footer-col-wrapper, .social-links { font-size: 0.9375rem; color: #828282; }

.footer-col { margin-bottom: 15px; }

.footer-col-1, .footer-col-2 { width: calc(50% - (30px / 2)); }

.footer-col-3 { width: calc(100% - (30px / 2)); }

@media screen and (min-width: 800px) { .footer-col-1 { width: calc(35% - (30px / 2)); }
  .footer-col-2 { width: calc(20% - (30px / 2)); }
  .footer-col-3 { width: calc(45% - (30px / 2)); } }
@media screen and (min-width: 600px) { .footer-col-wrapper { display: flex; }
  .footer-col { width: calc(100% - (30px / 2)); padding: 0 15px; }
  .footer-col:first-child { padding-right: 15px; padding-left: 0; }
  .footer-col:last-child { padding-right: 0; padding-left: 15px; } }


.post-list { margin-left: 0; list-style: none; }
.post-list > li { margin-bottom: 30px; }

.post-meta { font-size: 14px; color: #828282; }

.post-link { display: block; font-size: 1.5rem; }

/* end from minima style */
