---
layout: default-1
title: Bees
banner: To Build a Better Ballot with Bees
description: An Interactive Guide to Alternative Voting Methods
byline: by Paretoman and Contributors, March 2019
hashtag: "@paretoman1"
---

	<!-- - - - - - - - -

SPLASH!

- - - - - - - - - -->

	{% include banner.html title=page.title banner=page.banner description=page.description byline=page.byline %}

	<!-- - - - - - - - -

LOG

- - - - - - - - - -->

	<div id="content">

		<div class="words">

			<p>
				What if you had bees?
			</p>

			<h2>
				Bees!
			</h2>

			<p>
				Bees are cool because they vote and move.
			</p>

		</div>

		<div class="sim-test">
			<div class="sim-container">
				<p class="caption-test">
					Bee Candidates
				</p>
				<div id="elect_bees" class="div-election div-ballot-in-sandbox div-model" scrolling="no">
				</div>
				<script>
					sandbox({quick:"elect_bees"})
				</script>
			</div>
		</div>
		<div class="words">
			<p>Putting it all together, here's a sandbox for you to try out all the different systems and to make your own scenarios:</p>
		</div>

		<!-- - - - - - - - -

PART IV:
SANDBOX

- - - - - - - - - -->

		{% include sandbox-original.html %}

	</div>

</body>

</html>