---
---
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    
    {% include css-index.html %}
    {% include css-1.html %}

    {% include js-1.html %}
</head>

<body>
    <div id="content">
        <div class="sim-test">
            <div class="sim-container">
                <p class="caption-test">
                </p>
                <div id="elect_try" class="div-election div-ballot-in-sandbox div-model" scrolling="no">
                </div>
                <script>
					sandbox({quick:"elect_try"})
                    console.log("done")
                </script>
            </div>
        </div>
</body>

</html>