
    <script src="play/js/helpers.js"></script>
    <script src="play/js/minpubsub.js"></script>
    <script src="play/js/hsluv-0.0.3.min.js"></script>
    <script src="play/js/pako.min.js"></script>
    <script src="play/js/Loader.js"></script>
    <script src="play/js/Mouse.js"></script>
    <script src="play/js/Draggable.js"></script>

    <script src="play/js/gpu.js-develop/bin/gpu-core.js"></script>
    <script src="play/js/gpu.js-develop/bin/gpu.js"></script>
    <script src="play/js/FastYee.js"></script>

    <script src="play/js/javascript-lp-solver/prod/solver.js"></script>
    
    
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.min.js"></script>

<!-- Load the sankey.js function -->
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/sankey.js"></script>

    
    <!-- <script src="https://unpkg.com/d3-array@1"></script>
    <script src="https://unpkg.com/d3-collection@1"></script>
    <script src="https://unpkg.com/d3-path@1"></script>
    <script src="https://unpkg.com/d3-shape@1"></script>
    <script src="https://unpkg.com/d3-sankey@0"></script> -->
    
    <script src="play/js/Model.js"></script>
    <script src="play/js/Yee.js"></script>
    <script src="play/js/Candidate.js"></script>
    <script src="play/js/Color.js"></script>
    <script src="play/js/Voters.js"></script>
    <script src="play/js/Election.js"></script>
    <script src="play/js/Buttons.js"></script>
    <script src="play/js/Ballot.js"></script>
    <script src="rbvote/rbvote.js"></script>
    <script src="play/tsp/salesman.js"></script>
    <script src="play/js/seedrandom.min.js"></script>

    <script src="play/js/main_ballot.js"></script>
    <script src="play/js/main_sandbox.js"></script>
    <script src="play/js/Presets.js"></script>