{% capture A %}<span class="letterBig" style="color:hsl(240,80%,70%);"><b>A</b></span>{% endcapture %}
{% capture B %}<span class="letterBig" style="color:hsl(45,80%,70%);"><b>B</b></span>{% endcapture %}
{% capture C %}<span class="letterBig" style="color:hsl(0,80%,70%);"><b>C</b></span>{% endcapture %}
{% capture D %}<span class="letterBig" style="color:hsl(90,80%,70%);"><b>D</b></span>{% endcapture %}
{% capture E %}<span class="letterBig" style="color:hsl(30,80%,70%);"><b>E</b></span>{% endcapture %}
{% capture F %}<span class="letterBig" style="color:#32cbf8;"><b>F</b></span>{% endcapture %}
