
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ include.title }}">
    <meta itemprop="description" content="{{ include.description }}">
    <meta itemprop="image" content="http://ncase.me/ballot/social/thumbnail.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ include.hashtag }}">
    <meta name="twitter:title" content="{{ include.title }}">
    <meta name="twitter:description" content="{{ include.description }}">
    <meta name="twitter:creator" content="{{ include.hashtag }}">
    <meta name="twitter:image" content="http://ncase.me/ballot/social/thumbnail.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ include.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://ncase.me/ballot/">
    <meta property="og:image" content="http://ncase.me/ballot/social/thumbnail.png">
    <meta property="og:description" content="{{ include.description }}">