
			<p>
				<b>From Nicky Case:</b> One hope for Sandbox Mode is that readers can debate with me and each other
				<em>using</em> this tool! Not just telling me I'm wrong, but
				<em>showing</em> me I'm wrong.  Granted, this tool is very limited – it doesn't handle strategic voting
				or imperfect information – but I think it's a start, and may help improve our Democratic Discourse&trade;
			</p>
			<p>
				<b> From Paretoman: </b>if you'd like your own models included here, 
				save it, copy the saved link, and tweet it while <a href="https://twitter.com/paretoman1">mentioning me, @paretoman1.</a>
			</p>