
	<div id="sandbox-index-section">
		<div class="sim-sandbox">
			<div class="sim-container">
				{% include sandbox-call-index.html %}
			</div>
		</div>
		<div class="words">
			<p>
				<b>This is the "Sandbox Mode" for <i>To Build a Better Ballot but Better</i>, which is based on <i>To Build A Better Ballot</i>.</b>
				If you haven't already played the original, <a href="http://ncase.me/ballot/">check it out here!</a>
				And then <a href="./index.html">check out the expanded version.</a>
			</p>
			{% include sandbox-note.html %}
		</div>
	</div>
	