
		<script id="sandbox">
			sandbox({idScript:"sandbox",url:"http://127.0.0.1:4000/ballot/sandbox/?v=2.5&m=H4sIAAAAAAAAA3WSS3LEIAxE78JaCyT0AV_FNSeZSs4eSR1vkpryovWB5gn8HnNc932E_LzoFp4UswI14i0ZsR4Sq5pVab5eNLj2sAaxSeVrXJOGjmt8z0HDOvVclL1ImfTvy87-2DkfO5y4nMK9YlFUTfo8BgUrBBDskKRgTc0zLeW0i6RZFiXNJEUgsBHFkrRZKbCRQLaRnd6wZrNw3QN3YwFoLfQBtNLpZvr9arGjDc-FmZkkp9Jsa9tWwE8gT5DGt1SgvVf_Wqs3vAbeBbiKoW12ZkA1DG1ANaAa7s4wtAV6u88yDO0Twu3pGNhxdW54nARxWDgI_LQECAJ7QyALAoIAQTz_UKC5nzuqGsbZMNsw2wDZANnakNsgxfL1AyzEsZ7xAgAA"})
		</script>