
<div class="sim-ballot">
    <div class="sim-container">
        <h2 class="ballot_title" style="margin-bottom: 0.15em;">{{ include.title }}</h2>
        <p class="ballot_caption">{{ include.caption | replace: "`", "" }}
        {% if include.hint %}
        <span class="hint_button" title="{{ include.hint }}">Hint</span>
        {% endif %}
        </p>
        {% if include.url %}
        <script id="{{ include.id }}">
            sandbox({idScript:"{{ include.id }}",url:"{{ include.url }}"})
        </script>
        {% endif %}
        {% if include.link %}
        <script id="{{ include.id }}">
            sandbox({idScript:"{{ include.id }}",link:"{{ include.link }}"})
        </script>
        {% endif %}
		{% if include.gif %}
		<div>
			<div class="demonstrate" onclick="var x = document.getElementById('img_{{ include.id }}'); x.hidden = ! x.hidden;">Demonstrate</div>
		</div>
		<div>
			<img class="gif_show" src="{{ include.gif }}" id="img_{{ include.id }}" hidden="true"/>
		</div>
		{% endif %}
    </div>

</div>