/*********************
BALLOT DESIGN
**********************/
.div-ballot {
	background: #fff;
	padding: 10px;
    margin: -10px;
}

.div-ballot #ballot{

	width: 375px;
	height: 250px;
	padding: 10px;
	margin: 0px;
	margin-left: 20px;

	overflow: hidden;
	float:left;

	background: #F0EAD6;
	color: #302707;

	background-size: 100% 100%;
	border: 2px solid #fff;

	position: relative;
	

}
.div-ballot #ballot .ballot_sprite{
	position: absolute;
	background-size: 100% auto;
}

.div-ballot .button-group{
	margin-left: 0px;
	text-align: left;
	float:left;
	clear:both;
}

.div-ballot #reset {
	margin-top: 10px;
	top: 270px;
	left: 275px
}

.div-ballot .model {
	height:260px;
}

.div-ballot > div{
	vertical-align: top;
}
.div-ballot #b-left {
	display:inline-block;
	float:none;
	width:254px;
	text-align: center;	
	margin: 10px;
}
.div-ballot #b-right {
	margin: 10px;
	margin-left: -10px;
	display:inline-block;
}

.div-ballot #caption {
	text-align: center;
}
.div-ballot #caption > div > div{
	text-align: left;
}

.div-ballot #caption{
	margin-top: 0px;
	float:left;
	clear: both;
	text-align: left;
    line-height: 1.0em;
    font-size: 23px;
}

.div-ballot #caption img{
    height: 1em;
	top:2px;
	position: relative;
}
.div-ballot #caption .small{
	font-size: 15px;
	line-height: 1.0em;
}

.div-ballot #paper div{
	display: inline-block;
	vertical-align:top;
}
.div-ballot #paper table{
	border-collapse: collapse;
}
.div-ballot #paper table.main{
	min-width: 15em;
}
.div-ballot #paper table.main2{
	min-width: 8em;
}
.div-ballot #paper table.num{
	border: 3px solid #302702;
}
/* .div-ballot #paper table{
	min-width: unset;
	width: unset
} */
.div-ballot #paper td{
	padding-top: 0px;
}
.div-ballot #paper td td{
	padding: .2em;
}
.div-ballot #paper td.num{
	width: 1em;
	height: 1em;
	text-align: center;
}
.div-ballot #paper th.main{
	padding: .6em;
	background-color: #ccc;
}
.div-ballot #paper td.main{
	padding: .2em .6em;
}
.div-ballot #paper table.main{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.div-ballot #paper table.main2 th{
	padding: .6em;
	background-color: #F0EAD6;
	color: #302702;
}
.div-ballot #paper table.main2 td{
	padding: .6em;
}

.div-sandbox .div-ballot {
	/* transform: scale(.5); */
	font-size: 50%;
	line-height: 1.2em;
}


/* Extra Small Devices, Phones */ 
@media (max-width : 650px) {

	.div-ballot{
		text-align:center;
		display:block;
	}
	
	.div-ballot #b-left,
	.div-ballot #b-right{
		display:inline-block;
		float:none;
		padding-right: 0px;
		text-align: left;
	}
	.div-ballot #b-right{
		margin-left: 10px;
	}
	.div-ballot #b-left{
		text-align:center;
	}
	.div-ballot #paper {
		text-align: center;
	}
	.div-ballot #paper div{
		text-align: left;
	}
	.div-ballot #ballot{
		margin-left: 0px;
	}
}