/*********************
BALLOT DESIGN
**********************/

.div-ballot #ballot{

	width: 375px;
	height: 250px;
	margin-left: 20px;
	margin-bottom: 10px;

	overflow: hidden;
	float:left;

	background: #F0EAD6;
	color: #302707;

	background-size: 100% 100%;
	border: 2px solid #fff;

	position: relative;
	

}
.div-ballot #ballot .ballot_sprite{
	position: absolute;
	background-size: 100% auto;
}

.div-ballot .button-group{
	margin-left: 0px;
	text-align: left;
	float:left;
	clear:both;
}

.div-ballot #reset {
	margin-top: 10px;
	top: 270px;
	left: 275px
}

.div-ballot .model {
	height:260px;
}

.div-ballot #b-left {
	display:inline-block;
	float:left;
	width:254px;
	text-align: center;	
}
.div-ballot #b-right {
	display:inline-block;
	width:500px;
}