.div-model{
	display:inline-block;
	position: relative;
	margin: 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 25px;
	line-height: 1.2em;
	color:#333;
	text-align: center;		

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*********************
THE MAIN MODEL ITSELF
**********************/

.div-model .model{
	text-align: left;
	overflow: hidden;
}
.div-model-theme-Default .model .interactive{
    background-image: none;
}
.div-model-theme-Nicky .model .interactive{
    background-image: url(../img/axis.png);
}
.div-model-theme-Bees .model .interactive{
    background-image: url(../img/honeycomb.png);
}
.div-model .model .interactive{
	background-size: 100% 100%;
    border: 2px solid #ccc;
}

.div-model .model .interactive[cursor=grab]{
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
}
.div-model .model .interactive[cursor=grabbing]{
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}
.div-model #caption{
	cursor: default;
	margin-top:10px;
	text-align: center;
}
.div-model #caption .small{
	font-size: 0.75em;
}


/*********************
DAT RESET BUTTON
**********************/

#reset,
#save{
	display: inline-block;
	cursor: pointer;
    background: #aaa;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    width: 100px;
    height: 30px;
    letter-spacing: 2px;
    padding: 2px 0;
    border-radius: 5px;
    border-bottom: 2px solid #888;
	margin-top:10px;
    margin-right: 9px;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}
#reset:hover,
 #save:hover{
	margin-top:-2px;
	background: #bbb;
	border-bottom-color: #999;
}
#reset:active,
#save:active{
	margin-top:2px;
	background: #999;
	border-bottom-color: #777;
}
