.div-sandbox #reset, .demonstrate, .div-sandbox  #save, .div-sandbox  .codeSave , .roundChartButton , .weightChartsButton {
    background: #fff;
    color: #888;
    border: 1px solid #888;
}
.div-sandbox #reset:hover, .demonstrate:hover, .div-sandbox #save:hover, .div-sandbox  .codeSave:hover, .roundChartButton:hover, .weightChartsButton:hover {
	margin-top:0px;
	background: #fff;
	color: #bbb;
	border-color: #bbb;
	border-bottom-color: #888;
}
.div-sandbox #reset:active, .demonstrate:active, .div-sandbox #save:active, .div-sandbox  .codeSave:active, .roundChartButton:active, .weightChartsButton:active {
	margin-top:0px;
	background: #eee;
	border-bottom-color: #888;
}

.div-sandbox #description_container,
.div-sandbox #codeEditorText_container{
	clear: both;
	overflow: hidden;
    margin: 10px 0px;
    width:100%;
}
.div-sandbox #description_container{
    height: 120px;
}
.div-sandbox #codeEditorText_container{
    height: 620px;
}
.div-sandbox textarea, .div-sandbox input, .div-sandbox .CodeMirror{
    border: 1px solid #bbb;
    resize: none;
}
.div-sandbox textarea, .div-sandbox input{
    font-family: Arial, sans-serif;
}
.div-sandbox #description_container textarea,
.div-sandbox #codeEditorText_container textarea{
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin: 0 0 0 -10px;
}
.div-sandbox #description_container textarea{
    height: 97px;
}
.div-sandbox #codeEditorText_container textarea{
    height: 597px;
}
.div-sandbox div#double_description_container{
    margin: 0px 20px;
}
.div-sandbox div#double_codeEditorText_container {
    margin: 10px 10px;
}
.CodeMirror {
    text-align: left;
    height: 597px;
    font-size: 15px;
    line-height: 15px;
}
.CodeMirror { 
    /* This 2-line part makes the codemirror scale its width with its container. Comment it out to have codemirror scale width with it's longest line of code inside it. */
    position: absolute;
    width: calc(100% - 45px);
}
.div-sandbox div.topMenuSpacer {
    height: 0.5em;
}

.div-sandbox #savelink{
    margin-top: 10px;
    position: relative;
    top: -3px;
    width: 100%;
    height: 19px;
    padding: 0px;
    font-size: 12px;
}





/* Slider stuff - This modifies values in election.css */
.div-sandbox input[type="range"] {
    height: 20px;
}
.div-sandbox ::-webkit-slider-thumb {
    height: 20px; /* 1 */
}
.div-sandbox ::-moz-range-track {
    height: 20px;
}
.div-sandbox ::-moz-range-thumb {
    height: 20px;
}
.div-sandbox ::-ms-thumb { 
    height: 20px;
}
.div-sandbox ::-ms-track { 
    height: 20px;
}
/* end of slider stuff */